<div class="container">
  <form action="">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" ngModel name="email" #email="ngModel" required>
      <div class="alert alert-danger mt-2" *ngIf="email.touched && !email.valid">required</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" ngModel name="password" #password="ngModel" required
        minlength="8" maxlength="12">
    </div>
    <div class="alert alert-danger mt-2" *ngIf="password.touched && !password.valid">
      <div *ngIf="password.errors?.['required']">required</div>
      <div *ngIf="password.errors?.['minlength']">passsword must not be less than 8 char</div>
      <div *ngIf="password.errors?.['maxlength']">passsword must not be longer than 12 char</div>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary">Send</button>
    </div>
  </form>
</div>