<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">image</th>
      <th scope="col">CategoryId</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of prdListOfCat; let i = index;">
      <tr>
        <td scope="row">{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>
          <div *ngIf="item.quantity != 0 else outOfStock ">{{item.quantity}}</div>
          <ng-template #outOfStock>Out Of Stock</ng-template>
        </td>
        <td>
          <img appLightBox highlightColor="red" [src]="item.imgUrl" alt="logo" style="width: 60px;">
        </td>
        <td>{{item.categoryId}}</td>
        <td>
          <input #itemsCount class="form-control" type="number" />
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="buy(item.price , itemsCount.value)">Buy</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>